:root{
  --font-family: "Raleway", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #f0f4f4;
  --primary-color: #437000;
  --secondary-color: #;
  --primary-shadow: #FFE4B5;
  --secondary-shadow: #778899;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

h1 {
  color: black;
  text-align: center;
  padding: 2%;
}

h2 {
  color: var(--primary-color);
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
 }
