{% extends "base.html" %}

{% load static %}

{% block page_content %}

<link rel="stylesheet" href="{% static 'pages\CSS\style.css' %}">
    <div class="row">
        <div class="col-12">   
          <br>
          <h1>Hi, I'm Kristen</h1>
          <img 
            src="{% static 'pages/images/fern.jpg' %}" 
            class="img-fluid" 
            class="hero-img"
            id="canyon"
            loading="lazy" 
            alt="Verdant canyon covered in ferns">
        </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-6">
        <br>
        <h2 class="display-5">Building web apps with Django, TypeScript, Next.js and more</h2><br>
        <p id="bio">I am a software engineer based in Los Angeles, California. I build beautiful, responsive, secure
          apps for the web. I currently work primarily with Typescript, React, and Next.js, but I am also comfortable with Python 
         and Django. I began my career researching, publishing, and teaching in the academic humanities and have enjoyed expanding my language expertise to the syntax of code. 
          <br><br>If you are looking to build or expand your web presence, I'd love to connect!<br><br>
          <a href="/contact/" class="btn btn-primary" id="button">Contact me</a>
        </p>
        </div>
        <div class="col-12 col-lg-6">
          <img 
            src="{% static 'pages/images/2021.jpg' %}" 
            class="img-fluid" 
            id="portrait" 
            alt="Woman with curly hair, smiling">
        </div>
      </div>
    

    <hr class="solid">
    <div class="row">
      <div class="col-12">   
        <footer>
          <a href="https://github.com/k-cardon" target="_blank">
            <img src="https://img.icons8.com/?size=100&id=12599&format=png&color=437000" alt="GitHub" class="social-icon">
          </a>
          <a href="https://linkedin.com/in/k-cardon" target="_blank">
              <img src="https://img.icons8.com/?size=100&id=60444&format=png&color=437000" alt="LinkedIn" class="social-icon">
          </a>
        </footer>
      </div>
    </div>


{% endblock page_content %}
